/* opening screen */
.entrence-screen {
  margin-top: 0;
}

/*      */
h1{
  font-size: 3vmin;
}
.instruction-window {
  position: absolute;
  top: 10%;
  width: 33%;
  height: 80%;
}

.instruction-window p {
  padding: 0;
}

.instruction-window div > img {
  width: 3vmin;                /* 20px  */
  margin-top: 2vmin;
  margin-bottom: 2vmin;
}

.instruction-window p {
  font-size: 3vmin;
} 

.arrows i {
  margin-top: 2vmin;
  margin-bottom: 2vmin;
}

.modify-window {
  position: absolute; 
  top: 10%;
  width: 33%;
  height: 80%;
  font-size: 3vmin;

}
.modify-window > * {
  margin: 0%;
  
}
.modifybtn{
  font-size: 2vmin;

}

/* screen */
.container {
  grid-template-columns: 6fr 1fr;
  width: 100%;
}

/* right side -- tools and material */
.tool-box--right-side {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.picaxe,
.shovel,
.axe,
.waterpucket,
.lavapucket {
  padding: 0;
  width: 11vmin;       /* 25px */ 
  height: 11vmin;
  margin: 2%;         /* 5px */
  margin-left: 2px;   
  margin-bottom: auto;    
  font-size: 4%;       /* 8px */ 
}

.picaxe > img, 
.shovel > img,
.axe > img,
.waterpucket > img,
.lavapucket > img{
  width: 8vmin;
  height: 8vmin;
}

.tool-box--right-side button {
  width: 8vmin;      /* 60px */
  height: 8vmin;
  padding: 2px;
  font-size: 2vmin;      /*  10px */
 /* margin: 5px;*/
}

.inventory {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
  margin-top: 5%;
}

.item {
  width: 8vmin;       /* 20px  */
  height: 8vmin;      /* 40px */
}

/* force player to move to landscape */
@media only screen and (orientation: portrait) {
  .entrence-screen {
    /* background: black; */
    text-align: center;
    overflow: hidden;
  }

  .entrence-screen::before {
    content: "Please rotate your phone to landscape to better manipulate the game";
    position: absolute;
    color: #fff;
    font-weight: 900;
    top: 49%;
  }

  .entrence-screen button {
    height: 10vh;
  }
}
@media (max-width: 1000px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .tool-box--right-side{
    display: flex;
    flex-direction: row;
  }
}
